#unauth{background-color:#2b2b2b; height: 780px}
#unauth h2{text-align:left;color:#969696;font-weight:300;padding:0;margin:30px 0}
#unauth h3{color:#969696;text-align:left;font-weight:300;margin:10px 0}
#unauth .well-big{padding: 25px 10px;border-radius:5px; background-color: #F2F2F2}
#unauth .heading h1{color: #F2F2F2;text-align:center;font-weight:500;padding-bottom:40px;margin:30px 0 0 0}
