/* Overwrite CSS Bootstrap rules */
.container > .page-header { margin: 120px 0 40px; }
.navbar { min-height: 100px; }
.row { margin: 0; }

/* New styles */
.index .form-horizontal .form-group { margin-left:0; margin-right:0; }
.index .connection { border-radius: 4px; background: none repeat scroll 0 0 #fbfbfb; border: 1px solid #ccc; }

.survey .entry { margin-bottom: 30px; }
.survey .entry .input-group[class*="col-"] { margin-right:20px; float: left; }
.survey .qcm { margin-top: 10px; }
.survey .qcm label { margin: 20px 0 15px; }
.survey .qcm .btn-add-qcm, .survey .qcm .btn-remove-qcm { line-height: 2.17em; padding:1px 10px; }
.survey .qcm .entry-qcm { margin-bottom: 10px; }
.survey .controls .validation { text-align: right; padding-top: 20px; }
.survey .controls .info { display: block; margin-bottom: 30px; }

.user { float: right; margin-right: 36px; }
.user img { float: left; margin: 10px 15px 0; }
.user .block-user { float: left; }
.user > h4 { margin-bottom: 30px; }

.member .table-container { min-height: 320px; }
.member table { margin-bottom: 40px; }
.member table td:first-child { width:62%; padding-right:30px; vertical-align:middle; font-size:0.9em; }
.member table td div { text-overflow: ellipsis; overflow: hidden; width:35em; white-space:nowrap; }
.member .pagination-container { padding-top:20px; border-top: 1px solid #eee; }
.member .pagination { float:right; margin:0; }

.modal-header { min-height:47px; }
.modal-body p:first-child { font-size:1.3em; }
.modal-footer { margin-top:0; }