/* Overwrite CSS Bootstrap rules */
.container > .page-header { margin: 120px 0 40px; }
.navbar { min-height: 100px; }
.row { margin: 0; }

/* New styles */
.index .form-horizontal .form-group { margin-left:0; margin-right:0; }
.index .connection { border-radius: 4px; background: none repeat scroll 0 0 #fbfbfb; border: 1px solid #ccc; }

.survey .entry { margin-bottom: 30px; }
.survey .entry .input-group[class*="col-"] { margin-right:20px; float: left; }
.survey .qcm { margin-top: 10px; }
.survey .qcm label { margin: 20px 0 15px; }
.survey .qcm .btn-qcm-add { line-height: 2.2em; padding:1px 10px; }
.survey .qcm .qcm-answer { margin-bottom: 10px; }
.survey .controls .validation { text-align: right; padding-top: 20px; }
.survey .controls .info { display: block; margin-bottom: 30px; }

.member .user { float: right; margin-right: 36px; }
.member .user img { float: left; margin: 10px 15px 0; }
.member .user .block-user { float: left; }
.member > h4 { margin-bottom: 30px; }
.member table td:first-child { width:50%; padding-right:30px; vertical-align:middle; font-size:0.9em; }
.member table td div { text-overflow: ellipsis; overflow: hidden; width:35em; white-space:nowrap; }